#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	flex: 1;
	background-color: #1a1a1a;
}

.titleBar {
	background-color: rgba(0, 255, 98, 0.87);
	width: 100%;
	color: #1a1a1a;
}

.title {
	padding: 0.25em;
	font-size: 1.75em;
	margin-bottom: 0.25em;
}

.titleDivider {
	width: 100%;
	height: 0.125em;
	background-color: rgba(0, 255, 98, 0.87);
}

.nav {
	background-color: rgba(0, 255, 98, 0.87);
}
.navList {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0.5em;
	padding-right: 0.5em;
	gap: 0.5em;
}

.navLink {
	color: rgba(0, 255, 98, 0.87);
	font-size: 1.1em;
	background-color: #1a1a1a;
	flex: 1;
}
.navLink:hover {
	color: #1a1a1a;
	background-color: rgba(0, 255, 98, 0.87);
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
